[submodule "res/pyperplan"]
	path = res/pyperplan
	url = https://github.com/MarcoChit0/pyperplan
[submodule "res/ipc2023-learning/benchmarks"]
	path = res/ipc2023-learning/benchmarks
	url = https://github.com/ipc2023-learning/benchmarks.git
